<div class='mt-4'>
    <div>
        <h3>Khóa học của tôi</h3>
        <div class='stored-courses-icon'>
            <a href='/me/trash/courses' style='color: black;'> <i class='fa-solid fa-trash'></i> {{numTrash}}</a>
            <a href='/courses/create' style='color: black;'><i class='fa-solid fa-plus'></i></a>
        </div>

    </div>
    <table class='table mt-4'>
        <thead>
            <tr>
                <th scope='col'>#</th>
                <th scope='col'>Tên khóa học</th>
                <th scope='col'>Trình độ</th>
                <th scope='col' colspan='2'>Thời gian tạo</th>

            </tr>
        </thead>

        <tbody>
            {{#each storedCourses}}
                <tr>
                    <th scope='row'>{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.level}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>
                        <a href='{{this._id}}/edit' class='btn btn-link'>Sửa</a>
                        <button
                            type='button'
                            class='btn btn-link'
                            data-bs-toggle='modal'
                            data-bs-target='#delete-course-modal'
                            data-id='{{this._id}}'
                        >Xóa</button>
                    </td>

                </tr>
            {{else}}
                <tr>
                    <td colspan='5'>
                        <p class='text-center'>Bạn chưa có khóa học nào. <a href='/courses/create'>Đăng Khóa Học</a></p>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{! Confirm delete course modal }}
<div class='modal fade' id='delete-course-modal' tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Xóa khóa học</h5>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <div class='modal-body'>
                Bạn chắc chắn muốn xóa khóa học này ?
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Đóng</button>
                <button id='btn-delete' class='btn btn-danger'>Xóa bỏ</button>
            </div>
        </div>
    </div>
</div>

<form name='delete-course-form' method='POST'></form>

{{! prettier-ignore }}
<script>
  
    var id;
   

    const dataId = document.getElementById('delete-course-modal');
    const btnDelete = document.getElementById('btn-delete');
    const deleteForm = document.forms['delete-course-form'];
        if (dataId) {
        dataId.addEventListener('show.bs.modal', event => {
      
        const button = event.relatedTarget;
       
        id = button.getAttribute('data-id');
       
        })

        btnDelete.onclick = () => {
            deleteForm.action = `/courses/${id}?_method=DELETE`
            deleteForm.submit();
        };
}
</script>