<div class='mt-4'>
    <div>
        <h3>Khóa học đã xóa</h3>
        <a href='/me/stored/courses'>Khóa học của tôi</a>
        <div class='mt-4 sellect-all-form'>
            <div class='form-check'>
                <input class='form-check-input' type='checkbox' value='checkAll' id='checkAll' />
                <label class='form-check-label' for='checkAll'>
                    Chọn tất cả
                </label>
            </div>

            <select class='form-select form-control-sm checkbox-select-all-option' aria-label='Default select example'>
                <option>-- Option --</option>
                <option value='DELETE'>Xóa</option>
                <option value='PATCH'>Khôi phục</option>

            </select>

            <button
                class='btn btn-primary btn-action'
                data-bs-toggle='modal'
                data-bs-target='#delete-many-courses-modal'
            >Action</button>

        </div>
    </div>
    <table class='table mt-4'>
        <thead>
            <tr>
                <th></th>
                <th scope='col'>#</th>
                <th scope='col'>Tên khóa học</th>
                <th scope='col'>Thời gian tạo</th>
                <th scope='col' colspan='3'>Thời gian xóa</th>

            </tr>
        </thead>

        <tbody>
            {{#each trashCourses}}
                <tr>
                    <td>
                        <input class='form-check-input' type='checkbox' name='coursesId' value='{{this._id}}' />
                    </td>
                    <th scope='row'>{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.createdAt}}</td>
                    <td>{{this.deletedAt}}</td>
                    <td width='250px'>
                        {{! <button class='btn btn-link btn-delete'>Xóa vĩnh viễn</button> }}
                        <button
                            type='button'
                            class='btn btn-link'
                            data-bs-toggle='modal'
                            data-bs-target='#restore-course-modal'
                            data-id='{{this._id}}'
                        >Khôi phục</button>

                    </td>

                </tr>
            {{else}}
                <tr>
                    <td colspan='5'>
                        <p class='text-center'>Thùng rác trống</p>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{! restore modal }}
<div class='modal fade' id='restore-course-modal' tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Khôi phục khóa học</h5>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <div class='modal-body'>
                <p>Bạn có chắc muốn khôi phục khóa học ?</p>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Đóng</button>
                <button type='button' id='btn-restore' class='btn btn-primary'>Khôi phục</button>
            </div>
        </div>
    </div>
</div>

<!-- Confirm restore many modal -->
<div
    class='modal fade'
    id='restore-many-courses-modal'
    tabindex='-1'
    aria-labelledby='exampleModalLabel'
    aria-hidden='true'
>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Khôi phục khóa học</h5>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <div class='modal-body'>
                Bạn có chắc chắn muốn khôi phục các khóa học này ?
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Đóng</button>
                <button id='btn-restore-many' type='button' class='btn btn-primary'>Khôi phục</button>
            </div>
        </div>
    </div>
</div>

{{! Delete many courses modal }}
<div
    class='modal fade'
    id='delete-many-courses-modal'
    tabindex='-1'
    aria-labelledby='exampleModalLabel'
    aria-hidden='true'
>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Xóa khóa học</h5>
                <button type='button' class='btn-close' data-bs-dismiss='modal' aria-label='Close'></button>
            </div>
            <div class='modal-body'>
                Bạn có chắc chắn muốn xóa vĩnh viễn các khóa học này ?
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-secondary' data-bs-dismiss='modal'>Đóng</button>
                <button id='btn-delete-many' type='button' class='btn btn-primary'>Xóa</button>
            </div>
        </div>
    </div>
</div>

<form name='restore-course-form' method='POST'></form>
<form name='delete-course-form' method='POST'></form>
{{! prettier-ignore }}
<script>
    var id;
    var restoreCourseForm = document.forms['restore-course-form'];
    var deleteCourseForm = document.forms['delete-course-form'];
    var btnRestore = document.getElementById('btn-restore');
    var dataId = document.getElementById('restore-course-modal');
    var btnDelete = document.querySelectorAll('.btn-delete');



    if(dataId) {
        dataId.addEventListener('show.bs.modal', function(event) {
              // Button that triggered the modal
            const button = event.relatedTarget;
            // Extract info from data-bs-* attributes
            id = button.getAttribute('data-id');

            btnRestore.onclick = function() {
                restoreCourseForm.action = `/courses/${id}/restore?_method=PATCH`;
                restoreCourseForm.submit();
            }

        });
    }

    

</script>

{{! prettier-ignore }}
<script>
        //modal
        const restoreManyCoursesModal = document.getElementById('restore-many-courses-modal');
        const deleteManyCoursesModal = document.getElementById('delete-many-courses-modal');

        //checkbox
        const checkboxSelectAll = document.getElementById('checkAll');
        const checkBox = document.querySelectorAll('input[name="coursesId"]')
        //option
        const checkboxSelectAllOption = document.querySelector('.checkbox-select-all-option');
        var checkboxSelectAllOptionValue;
        //button
        const btnAction = document.querySelector('.btn-action');
        const btnRestoreMany = document.getElementById('btn-restore-many');
        const btnDeleteMany = document.getElementById('btn-delete-many');

        //target modal
        const targetElement = document.querySelector("button[data-bs-target='#delete-many-courses-modal']");
        //list courses id
        var coursesId = [];

        //event when click checkbox select all
        checkboxSelectAll.onclick = function() {
            if (checkboxSelectAll.checked) {
                checkBox.forEach((checkbox) => {
                    checkbox.checked = true;
                })
            } else {
                checkBox.forEach((checkbox) => {
                    checkbox.checked = false;
                })
            }
        }

        //update value of attribute data-bs-target when change option
        checkboxSelectAllOption.onclick = function() {
             checkboxSelectAllOptionValue = checkboxSelectAllOption.value; 
            if(checkboxSelectAllOptionValue == 'DELETE'){
                targetElement.setAttribute('data-bs-target', '#delete-many-courses-modal');
            }else if (checkboxSelectAllOptionValue == 'PATCH'){
                targetElement.setAttribute('data-bs-target', '#restore-many-courses-modal');
            }
        }

        //event when click button action
        btnAction.onclick = function() {
         
            //get list courses id
            checkBox.forEach((checkbox) => {
                if (checkbox.checked) {
                    coursesId.push(checkbox.value);
                }
            })

 
        }

        //event when option = restore 
        if(restoreManyCoursesModal){
            restoreManyCoursesModal.addEventListener('show.bs.modal', event => {
                btnRestoreMany.onclick = function() {
                    if(checkboxSelectAllOptionValue === 'PATCH'){
                        coursesId.forEach((courseId) => {
                            fetch(`/courses/${courseId}/restore?_method=PATCH`, {
                                method: 'POST',
                            })
                            .then(res => {
                                if(res.ok) {
                                    window.location.reload();
                                }
                            })
                            .catch(error => console.log(error))
                        })
                    }
                }
            })
        }


        //event when option = delete
        if(deleteManyCoursesModal){
            deleteManyCoursesModal.addEventListener('show.bs.modal', event => {
                    btnDeleteMany.onclick = function() {
                        console.log(checkboxSelectAllOptionValue);
                        console.log(coursesId);
                        if(checkboxSelectAllOptionValue === 'DELETE'){
                            coursesId.forEach((courseId) => {
                            console.log(courseId);
                            fetch(`/courses/${courseId}/remove?_method=DELETE`, {
                                method: 'POST',
                            })
                            .then(res => {
                                if(res.ok) {
                                    window.location.reload();
                                }
                            })
                            .catch(error => console.log(error))
                            })
                        }else{
                            console.log('error');
                        }
                    }
            })
        }
</script>